.header__btn-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 5px 15px;
  border: 1px solid var(--dark-slate);
  border-radius: 8px;
  transition: all 0.3s;
  color: var(--dark-slate);
}

.header__btn-contact:hover {
  border-color: var(--active-link);
  color: var(--active-link);
}

/* -----=== Language-button ===----- */
.switch {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.switch__slider::before {
  content: "en";
  font-size: 1rem;
  color: var(--dark-slate);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.switch__input:checked + .switch__slider::before {
  content: "ru";
}

/* -----=== Themes-button ===----- */
.page-theme {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-image: url(../images/icons/black-ligth.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -----=== Header-burger ===----- */
.header__burger {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.header__burger > span,
.header__burger > span:after,
.header__burger > span::before {
  height: 2px;
  display: inline-block;
  background-color: var(--dark-slate);
  border-radius: 10px;
}

.header__burger > span {
  width: 20px;
  position: relative;
}

.header__burger > span:after,
.header__burger > span::before {
  content: "";
  width: 10px;
  position: absolute;
}

.header__burger > span:after {
  top: 4px;
  right: 0;
}

.header__burger > span::before {
  bottom: 4px;
  left: 0;
}

/* -----=== Burger-Exit ===----- */
.burger__exit {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: auto;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.burger__exit > span,
.burger__exit > span::after {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: var(--exit-color);
}

.burger__exit > span::after {
  content: "";
  transform: rotate(90deg);
}

.burger__exit:hover {
  box-shadow: inset 0 0 3px var(--exit-color);
  border-radius: 8px;
}

/* -----=== Burger-menu ===----- */
.burger__menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.11);
  display: none;
}

.burger__menu-wrapper.burger__menu-wrapper--open {
  display: flex;
}

.burger-menu {
  display: flex;
  width: 280px;
  height: fit-content;
  flex-direction: column;
  padding: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.burger__menu-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.burger__menu-item > a {
  color: var(--base-white);
}

/* -----=== All-btn ===----- */
.btn {
  display: inline-block;
  width: fit-content;
  height: 40px;
  padding-inline: 25px;
  background-color: transparent;
  color: var(--dark-slate);
  border-radius: 75px;
  border: 1px solid var(--dark-slate);
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: var(--font-14);
}

.btn:hover {
  color: var(--base-white);
  border-color: var(--active-link);
  background: var(--btn-hover);
}

.a-btn {
  display: inline-block;
  text-align: center;
  min-width: 125px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid var(--dark-slate);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-20);
  line-height: 150%;
  color: var(--dark-slate);
  transition: all 0.5s;
}

.a-btn:hover {
  box-shadow: inset 0 0 75px var(--btn-hover);
  border-color: transparent;
  color: var(--base-white);
}

/* -----=== Card-btn ===----- */
.card-btn {
  display: flex;
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  gap: 10px;
  border-radius: 50px;
  background-color: var(--active-link);
  align-items: center;
  justify-content: center;

  font-family: var(--second-family);
  font-size: var(--font-14);
  font-weight: 500;
  color: var(--base-white);
  transition: 0.3s, color 0.1s, font-weight 0.1s;
}

.card-btn:hover {
  background-color: var(--btn-hover);
  color: var(--white-smoke);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.card-btn > img {
  position: absolute;
  right: 5px;
  opacity: 0;
  visibility: hidden;
}

.card-btn:hover > img {
  position: static;
  opacity: 1;
  visibility: visible;
}

/* -----=== @Media ===----- */
@media (max-width: 768px) {
  .header__btn-contact {
    display: none;
  }
  .page-theme {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .header__burger {
    display: flex;
  }

  .hero__btn {
    margin-bottom: 10px;
  }
}
