* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
textarea,
select {
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
